<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <title>乐淘首页</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css"/>
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/search.css">
</head>
<body>
<div class="lt-container">
    <div class="lt-header">
        <a href="javascript:history.back()" class="lt-top-lbtn fa fa-arrow-left"></a>
        <h3>乐淘云购</h3>
        <a href="search.html" class="lt-top-rbtn fa fa-search"></a>
    </div>
    <div class="lt-content">
        <div class="lt-wrapper">
            <!--用户输入搜索块-->
            <div class="lt-search">
                <input type="text" placeholder="请输入商品名称" id="userInput">
                <a href="javascript:;" class="mui-btn-blue">搜索</a>
            </div>
            <!--搜索历史显示区域-->
            <div class="lt-search-history">

            </div>
        </div>
    </div>
    <div class="lt-foot">
        <ul>
            <li>
                <a href="index.html">
                    <span class="fa fa-home"></span>
                    <p>首页</p>
                </a>
            </li>
            <li  class="active">
                <a href="category.html">
                    <span class="fa fa-bars"></span>
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-shopping-cart"></span>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-user"></span>
                    <p>个人中心</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/template" id="lthsitory">
    <% if(items.length >0){%>
        <div class="lt-search-title">
            <span>搜索历史</span>
            <span class="mui-icon mui-icon-trash">&nbsp;清空记录</span>
        </div>
    <%} else{%>
        <div class="lt-search-title">没有历史搜索记录</div>
    <%}%>
    <% if(items.length >0){%>
        <div class="lt-searchList">
            <ul>
                <%for( var i=items.length-1 ;i>=0  ;i--){%>
                    <li>
                        <a href="searchList.html?key=<%=items[i]%>"><%=items[i]%></a>
                        <span class="fa fa-close" data-index="<%=i%>"></span>
                    </li>
                <%}%>
            </ul>
        </div>
    <%}%>
</script>
<script src="./assets/mui/js/mui.js"></script>
<script src="./assets/zepto/zepto.min.js"></script>
<script src="./assets/artTemplate/template-native.js"></script>
<script src="./js/index.js"></script>
<script src="./js/search.js"></script>
</body>
</html>