.lt-search{
    width: 100%;
    padding: 10px 10px 0;
    position: relative;
}
.lt-search input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.lt-search a{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 60px;
    border-radius: 0 4px 4px 0;
}

.lt-search-history{
    padding: 0 10px;
}
.lt-search-title{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}
.lt-search-title span:first-of-type{
    float: left;
}
.lt-search-title .mui-icon{
    float: right;
    line-height: 20px;
    font-size: 14px;
}
.lt-searchList{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top:10px;
}
.lt-searchList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.lt-searchList ul  li{
    font-size: 12px;
    border-bottom: 1px dashed #ccc;
    padding:5px 10px;
}
.lt-searchList ul  li span{
    float: right;
}